* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%
}

body {
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 3.2rem auto;
}

header {
  background: #8E9AAF;
}

header h1 {
  font-family: 'Staatliches';

  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #FFFFFF;
  text-align: center;
  padding: 8px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #CBC0D3;
  margin-bottom: 2.9rem;
}

main {
  max-width: 500px;
  margin: 1.4rem auto;
}

main p {
  font-family: 'Palanquin';

  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;

  display: flex;
  align-items: center;
  text-align: center;

  color: #23053A;

  margin-bottom: 6.3rem ;
}


.image {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto 3.2rem 3.2rem;

  animation: topdown 1s;
}

div span {
  font-family: 'Staatliches';

  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4A4E69;
  background: #FEEAFA;
  border-radius: 20rem;
  position: absolute;
  padding: 1px 2.4rem  1px 2.3rem;
  right: 1.6rem;
  top: 1.6rem;

  animation: downtop 1s backwards;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}